.nutri-container {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: auto;
    width: auto;
    margin: auto;
    padding: 40px;
     
}
    .nutri-scroll{
    height: 400px; 
    width: 800px; 
    overflow-y: hidden;
    white-space: nowrap;
    background:rgb(134, 151, 153,.8);
    margin: 4px, 4px;
    padding: 4px;
  }
  .nutri-button{
    background-color: rgb(96, 96, 210);
      top:50%;
      color: #fff;
      border:black; 
      border-radius:10px; 
      padding:10px;
      min-height:30px; 
      min-width: 80px;
      
    
  }
  .nutri-button:hover {
      background-color:#002ead;
      transition: 0.7s;
  }
  .nutri-head{
    color: #000;
    font-weight: 1000;
  }
  .nutri-p{
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  .nutri-div{
    margin-left:auto ;
    padding: 20px;
  }
.nutri-p-name{
  color: rgb(5, 6, 5);
  font-weight: 900;
  font-size: 25px; 
}
  