.weight-container {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: auto;
  width: auto;
  margin: auto;
  padding: 40px;
   
}
  .weight-scroll{
  height: 400px; 
  width: 800px; 
  overflow-y: hidden;
  white-space: nowrap;
  background:rgb(134, 151, 153,.8);
  margin: 4px, 4px;
  padding: 4px;
}
.weight-button{
  background-color: rgb(96, 96, 210);
    top:50%;
    color: #fff;
    border:black; 
    border-radius:10px; 
    padding:10px;
    min-height:30px; 
    min-width: 80px;
    
  
}
.weight-button:hover {
    background-color:#030305;
    transition: 0.7s;
}
.weight-head{
  color: #000;
  font-weight: 1000;
}
.weight-p{
  color: rgb(0, 0, 0);
  font-weight: 600;
}
.weight-div{
  margin-left:auto ;
  padding: 20px;
}
.weight-p-name{
color: rgb(5, 6, 5);
font-weight: 900;
font-size: 25px; 
}
