.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(35, 86, 12);
  color:white
}

nav ul{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
}
nav li{
  margin:0;
  margin-left: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("Nutrition_cover1.jpg"); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  background-color: #9175b9;
  border-radius: 20px;
  box-sizing: border-box;
  
  
}
.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
  
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 20px;
  background: rgb(242, 161, 85);
}

p{
  color: red;
}